<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Living Healthy - Login & Sign Up</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="img/favicon.ico" rel="icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Basic transition for button focus/hover effects */
      button {
        transition: all 0.2s ease-in-out;
      }
      body {
        background:linear-gradient(55deg,#2E7D32,  #fff) ;
      }
    </style>
  </head>
  <body
    class="font-sans flex items-center justify-center min-h-screen bg-cover bg-center"
  >
    <div
      class="container mx-auto max-w-md px-8 py-12 rounded-lg shadow-lg bg-white overflow-hidden"
    >
      <h2 class="text-3xl font-bold text-center text-green-800 mb-8">
        Healthy Living
      </h2>

      <div class="flex items-center justify-center mb-6">
        <button
          id="loginBtn"
          class="px-4 py-2 mr-2 text-lg font-semibold text-green-800 hover:text-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 active:bg-green-100"
        >
          Login
        </button>
        <button
          id="signupBtn"
          class="px-4 py-2 text-lg font-semibold text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 active:bg-gray-200"
        >
          Sign Up
        </button>
      </div>

      <form id="loginForm" class="space-y-4">
        <div class="flex flex-col">
          <label for="loginEmail" class="text-gray-700 font-medium mb-2"
            >Email</label
          >
          <input
            type="email"
            id="loginEmail"
            name="loginEmail"
            class="appearance-none rounded-lg border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            required
          />
        </div>
        <div class="flex flex-col">
          <label for="loginPassword" class="text-gray-700 font-medium mb-2"
            >Password</label
          >
          <input
            type="password"
            id="loginPassword"
            name="loginPassword"
            class="appearance-none rounded-lg border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full py-2 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        >
          Login
        </button>
        <!-- Added Forgot Password button -->
        <button
          type="button"
          class="w-full py-2 text-green-500 font-semibold rounded-lg hover:text-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        >
          Forgot Password?
        </button>
      </form>

      <!-- sign-Up form section -->
      <form id="signupForm" class="hidden space-y-4" onsubmit="handleSignup(event)">
        <div class="flex flex-col">
          <label for="signupName" class="text-gray-700 font-medium mb-2"
            >Name</label
          >
          <input
            type="text"
            id="signupName"
            name="signupName"
            class="appearance-none rounded-lg border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            required
          />
        </div>
        <div class="flex flex-col">
          <label for="signupEmail" class="text-gray-700 font-medium mb-2"
            >Email</label
          >
          <input
            type="email"
            id="signupEmail"
            name="signupEmail"
            class="appearance-none rounded-lg border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            required
          />
        </div>
        <div class="flex flex-col">
          <label for="dateOfBirth" class="text-gray-700 font-medium mb-2"
            >Date of Birth</label
          >
          <input
            type="date"
            id="dateOfBirth"
            name="dateOfBirth"
            class="appearance-none rounded-lg border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          />
        </div>
        <div class="flex flex-col">
          <label for="signupPassword" class="text-gray-700 font-medium mb-2"
            >Password</label
          >
          <input
            type="password"
            id="signupPassword"
            name="signupPassword"
            class="appearance-none rounded-lg border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full py-2 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        >
          Sign Up
        </button>
      </form>
    </div>

    <script>
      const loginBtn = document.getElementById("loginBtn");
      const signupBtn = document.getElementById("signupBtn");
      const loginForm = document.getElementById("loginForm");
      const signupForm = document.getElementById("signupForm");

      const initForms = () => {
        loginForm.classList.remove("hidden");
        signupForm.classList.add("hidden");
        loginBtn.classList.add("text-green-800");
        loginBtn.classList.remove("text-gray-500");
        signupBtn.classList.add("text-gray-500");
        signupBtn.classList.remove("text-green-800");
      };

      document.addEventListener("DOMContentLoaded", initForms);

      loginBtn.addEventListener("click", () => {
        loginForm.classList.remove("hidden");
        signupForm.classList.add("hidden");
        loginBtn.classList.add("text-green-800");
        loginBtn.classList.remove("text-gray-500");
        signupBtn.classList.add("text-gray-500");
        signupBtn.classList.remove("text-green-800");
      });

      signupBtn.addEventListener("click", () => {
        signupForm.classList.remove("hidden");
        loginForm.classList.add("hidden");
        signupBtn.classList.add("text-green-800");
        signupBtn.classList.remove("text-gray-500");
        loginBtn.classList.add("text-gray-500");
        loginBtn.classList.remove("text-green-800");
      });

      // New function to handle signup form submission
      const handleSignup = async (event) => {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(signupForm);
        const data = Object.fromEntries(formData.entries());

        try {
          const response = await fetch('/signup', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });

          if (response.ok) {
            // Handle successful signup (e.g., redirect to home)
            window.location.href = '/home'; // Adjust the redirect as needed
          } else {
            const errorText = await response.text();
            alert(errorText); // Show error message
          }
        } catch (error) {
          console.error('Error during signup:', error);
          alert('An error occurred. Please try again.');
        }
      };
    </script>
  </body>
</html>
